# MACOS
.DS_Store/
.vscode/

# C
*.o
calculadora_client
calculadora_server

# PYTHON
__pycache__/

# JAVA
*.class
/P1/calculadora_py_java/gen-java/servidor/nbproject/private/
/P1/calculadora_py_java/gen-java/servidor/build/
/P1/calculadora_py_java/gen-java/servidor/dist/
built-jar.properties

# LATEX
build/